<footer>
    <h2>&copy; 2023 Helms Deep</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="#">Plays</a></li>
        </ul>
    </nav>
</footer>
