<header>
    <h1>Helms Deep</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="#">Plays</a></li>
        </ul>
    </nav>
</header>
