<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Helms Deep`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Helping teams anticipate deep balls, one snap at a time</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>At the heart of Helms Deep is a sophisticated system that enables defensive players and coaches to quickly and accurately associate specific formations of opposing offensive teams with their propensity for executing deep ball plays. Understanding these formations is crucial for defensive success, allowing you to anticipate and counteract deep passes effectively.</p>
            <h2>Why Helms Deep?</h2>
            <p>In the dynamic world of football, success lies in preparation and strategic awareness. Helms Deep equips defensive teams with the tools they need to read, anticipate, and neutralize deep ball threats effectively. Our user-friendly interface ensures seamless integration into your game preparation routine, allowing you to focus on what you do best – securing victory on the field.</p>
            <p>Join the ranks of successful defensive units that trust Helms Deep for unparalleled insights into opposing offensive formations. Elevate your defensive strategy, outsmart your opponents, and fortify your path to victory with Helms Deep.</p>
            <h2>Key Features</h2>
            <ul>
                <li>Formation Analysis: Helms Deep employs advanced algorithms to analyze opposing team formations, deciphering patterns that indicate a potential deep ball threat.</li>
                <li>Strategic Insights: Gain valuable insights into the offensive strategies of your opponents, specifically honing in on plays designed for long-distance passes.
                </li>
                <li>Real-Time Awareness: Stay ahead of the game with real-time updates on opposing formations during matches, giving your defensive personnel the advantage of immediate and informed decision-making.
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
