body {
    background: url(../assets/new-background.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassy {
    text-align: center;
    background-color: rgba(200, 220, 255, 0.8);
    padding: 2.5rem;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    height: 80vh;
    width: 50vw;
    min-height: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: calc(40px + 2vw);
    color: #336699;
}

p,
a {
    font-size: calc(18px + 0.5vw);
    text-decoration: none;
    margin-top: 1.5rem;
    color: #444;
}

a {
    margin-top: auto;
    color: #993366;
    transition: color 0.3s ease;
}

a:hover {
    color: #336699;
}